.todoListItems .todoComponent {
    margin-bottom: 10px;
  }
  
  .todoListItems .todoComponent .todoCompRight {
    text-align: left;
  }
  
  hr {
    width: 100%;
  }
  
  .todoTitle {
    color: #ddc0cb;
    font-weight: bold;
  }
  
  .noTodos {
    font-variant: small-caps;
    color: #ddc0cb;
  }
  
  .fa-trash,
  .fa-pen {
    color: #ddc0cb;
    cursor: pointer;
  }